.normal     { text-transform: none; }
#converted  { color: #0099FF; font-weight: bold; font-size:large; }   
th, td      { padding: 5px 15px; vertical-align: top; text-align: right; font-size:large; }     
input       { text-align: right;  border: none; font-size:large; }   
body        { background-color:#b0c4de; font-size:large; }

/* Cabecera estética */
h1 {
    font-weight: normal;
    background: #3C5681;
    padding: 5px 15px;
    color: white;
	display:inline-block;
    border-radius: 10px 10px 10px 10px;
}